:root {
  --primary-color: #FFEF5C;
  --secondary-color: #f3f3f3;
  --dark-color: #1f1f1f;
  --gray-color: #757575;
  --white-color: #fff;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./Data/font/Quicksand.ttf');
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

.bg-dark,
.dark .dark\:bg-dark {
  transition: 0.2s ease-in;
  background: var(--dark-color);
}

.bg-light,
.dark .dark\:bg-light {
  transition: 0.2s ease-in;
  background: var(--secondary-color);
}

.nav-design {
  background: var(--white-color);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.update-nav-design>.nav-design {
  border-radius: 0px 0px 30px 30px;
}

a {
  color: var(--dark-color);
}

a:hover {
  color: var(--gray-color);
}

.dark-color,
.dark .dark\:dark-color {
  color: var(--dark-color);
}

.gray-color {
  color: var(--gray-color);
}

.text-bg {
  background: var(--primary-color);
}

.light-icon,
.dark .dark\:light-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(0%) hue-rotate(272deg) brightness(104%) contrast(100%);
}

.dark-icon,
.dark .dark\:dark-icon {
  filter: brightness(0) saturate(100%) invert(0%) sepia(11%) saturate(201%) hue-rotate(317deg) brightness(105%) contrast(76%);
}

.icon:hover {
  filter: brightness(0) saturate(100%) invert(49%) sepia(12%) saturate(9%) hue-rotate(332deg) brightness(89%) contrast(87%);
}

.about-card,
.work-card,
.project-card {
  background: var(--white-color);
}

.about-card .card-img {
  background: var(--primary-color);
}

.about-card:hover {
  background: var(--primary-color);
  transform: rotate(5deg);
}

.work-card:hover {
  background: var(--primary-color);
  box-shadow: 0 0 15px #858585;
}

.heading-style::after {
  content: '';
  width: 100px;
  height: 5px;
  background: var(--primary-color);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
}

.project-card>h5 {
  background: rgba(7, 7, 7, 0.9);
}

.dark .dark\:project-card-light>h5 {
  background: rgba(255, 255, 255, 0.9);
  color: var(--dark-color);
}

.project-card .project-body {
  display: none;
}

.project-card .project-body .project-body-center {
  top: 50%;
  transform: translateY(-50%);
}

.dark .dark\:project-card-light .project-body .project-body-center h5,
.dark .dark\:project-card-light .project-body .project-body-center p {
  color: var(--dark-color);
}

.project-card .project-body a span {
  padding: 8px 20px;
  background: var(--primary-color);
  color: var(--dark-color);
  border-radius: 20px;
}

.project-card .project-body a .project-link-img {
  padding: 5px;
  background: var(--white-color);
}

.project-card:hover>h5 {
  display: none;
}

.project-card:hover .project-body {
  background: rgba(7, 7, 7, 0.9);
  display: block;
}

.dark .dark\:project-card-light .project-body {
  background: rgba(255, 255, 255, 0.9);
}

form .mail-button {
  background: var(--primary-color);
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.theme-btn {
  background: rgba(7, 7, 7, 0.1)
}

.theme-btn:hover {
  background: var(--primary-color);
}